.App {
  text-align: center;
}


.hor-order{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.ver-order{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Footer-con{
  width: 100vw;
  height: 350px;
  background-color: #000000;

}

.footer-border{
  background: #FA8F42;
  height: 60px;
  width: 100%;
}


.footer-content{
  text-align: center;
  width: 205px;
  height: 20px;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  margin-top: 50px;
  color: #FA8F42;
}

.home-hor-line{
  margin-top:30px ;
  border:1px solid #FA8F42;
  width: 1414px;
  height: 0px;
  opacity: 0.5;
} 

.icon-con{
  margin-top: 30px;
  margin-right: 20px;
  width: 65px;
  height: 65px;
  border-radius: 32px;
  background-color: #FA8F42;
}

.social-media-icons{
  width: 40px;
  height: 40px;
}

.icon-con:hover{
  background-color: #FFFFFF;
}

.footer-content:hover{
  color: #FFFFFF;
}

.notification-bar{
  position: absolute;
  height:100vh;
  width:  100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  overflow-y: scroll;
}

.notification-inner-con{
  width: 400px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 90px;
  z-index: 1;
}

.inpit-label{
  font-size: 18px;
  font-weight: bold;
  color: rgb(70, 3, 70);
}

.input-field{
  border-top: none;
  border-right: none;
  border-left: none;
  width: 300px;
  font-size: 18px;
}
.flecing{
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-login-con{
  position: absolute;
  height: 100vh;
  max-height: 1100px;
  width: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  overflow-y: scroll;
}




